@model LearnWebsite.Core.DTOs.ResetPasswordViewModel

@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">

        @if (ViewBag.IsSuccess)
        { 
            <div class="help-block">
                <p> تغییر کلمه عبور با موفقیت انجام شد </p>
            </div>
        }

        <header><h2> عضویت در سایت </h2></header>

        <div class="form-layer">

            <form asp-action="ResetPassword" method="post">

                <input type="hidden" asp-for="ActiveCode" />

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input type="text" asp-for="Password" class="form-control" placeholder="کلمه عبور " aria-describedby="password">
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input type="text" asp-for="RePassword" class="form-control" placeholder="تکرار کلمه عبور " aria-describedby="password">
                </div>

                <button class="btn btn-success"> ثبت تغییرات </button>

            </form>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

    </div>
</main>

