@model LearnWebsite.Data.Entities.User.User

@{
    Layout = null;
    ViewData["Title"] = "ایمیل بازیابی کلمه عبور";
}

<h2>@Model.UserName عزیز</h2>
<div class="alert alert-success">
    <p> جهت بازیابی کلمه عبور خود بر روی لینک زیر کلیک نمایید : </p>
    <p><a href="https://localhost:44344/Account/ResetPassword/@Model.ActivateCode"> بازیابی کلمه عبور </a></p>
    <br />
    <p>با سپاس از شما - گروه آموزشی</p>
</div>
